.ProductList {
  min-height: calc(100% - 70px);
  height: max-content;
}

.ProductList h3 {
  /* font-size: 1.4em; */
  margin-bottom: 20px;
}

/* .ProductList .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1em;
} */
