.ProductListItem {
  height: 530px;
}

.ProductListItem .card-header {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.ProductListItem .card-header img {
  width: 55%;
  height: 100%;
  padding: 10px;
}

.ProductListItem .card-body {
  width: 100%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
}

.ProductListItem .title {
  flex-grow: 0;
  width: 100%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.ProductListItem .title:hover {
  color: rgb(65, 65, 224);
  text-decoration: underline;
}

.ProductListItem .description {
  width: 100%;
  margin: 10px 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  /* line-height: 1.2;
	max-height: calc(4 * 1em * 1.2); */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.ProductListItem .actions {
  flex-grow: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProductListItem .price {
  font-size: 1.5em;
  font-weight: bold;
}
